
:root {
    /* colors */
    --clr-dark: 120 33% 24%;
    --clr-accent: 29 35% 39%;
    --clr-light: 60 7% 95%;
    --clr-white: 0 0% 100%;

    --clr-primary: 120 13% 23%; /*body green*/
    --clr-secondary: 60 98% 47%; /*yellow*/ 

    /* font-size */
    --fs-xl: 5rem;
    --fs-700: 1.85rem;
    --fs-600: 1.65rem;
    --fs-500: 1.250rem;
    --fs-400: 1rem;
    --fs-300: .835rem;

     /* font-families */
     --ff-serif: "Bellefair", serif;
     --ff-sans-cond: "Barlow Condensed", sans-serif;
     --ff-sans-normal: "Barlow", sans-serif;
}

@media ( min-width: 35em) and ( max-width: 48em) {
    :root {
        --fs-xl: 5rem;
        --fs-700: 2.275rem;
        --fs-600: 1.85rem;
        --fs-500: 1.45rem;
        --fs-400: 1.15rem;
    }
}

@media ( min-width: 48em) {
    :root {
        --fs-xl: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.275rem;
    }
}


/*
    RESET
==================
*/


/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset margins */
h1,
h2,
h3,
h4,
p,
body,
figure,
picture {
    margin: 0;
}

/* undecorated link */
.undecorated-link {
    text-decoration: none;
}

/* set up the body  */
body {
    min-height: 100vh;
    /* overflow-x: hidden; */
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    line-height: 1.5;
    color: hsl(var(--clr-primary));
    background-color: hsl(var(--clr-light));
}

/* make images easier to work with */
img,
picture {
    display: block;
    max-width: 100%;
}

/* icons */
.icon {
    width: 30px;
}

/* make forms easier to work with */
input,
textarea,
select,
button {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
    UTILITY CLASSES
=========================
*/

/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flex .even-columns {
    width: 100%;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    margin: 0 auto;
    max-width: 80rem;
    width: 90%;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0) !important;
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* COLORS */
.bg-dark {background-color: hsl(var(--clr-dark))}
.bg-accent {background-color: hsl(var(--clr-accent))}
.bg-light {background-color: hsl(var(--clr-light))}
.bg-white {background-color: hsl(var(--clr-white))}

.text-dark {color: hsl(var(--clr-dark))}
.text-accent {color: hsl(var(--clr-accent))}
.text-light {color: hsl(var(--clr-light))}
.text-white {color: hsl(var(--clr-white))}
.text-body {color: rgb(70, 84, 70)}
.text-primary {color: hsl(var(--clr-primary))}
.text-secondary {color: hsl(var(--clr-secondary))}

/* TYPOGRAPHY */
.ff-serif {font-family: var(--ff-serif);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}

.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2.65px;}
.letter-spacing-3 {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }

.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-700 {font-weight: 700;}
.fw-600 {font-weight: 500;}
.fw-500 {font-weight: 500;}
.fw-400 {font-weight: 400;}
.fw-300 {font-weight: 300;}

/*
    COMPONENTS
=========================
*/

 h1,
 h2,
 h3,
 p {
     font-weight: 500;
 }

 h1 {
     font-size: var(--fs-700);
 }

 h2 {
     font-size: var(--fs-600);
 }

 h3 {
     font-size: var(--fs-500);

 }

 p {
     font-size: var(--fs-400);

 }



a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* <<====================== SETUP ENDS =====================>> */




/* <<====================== NAVIGATION STARTS =====================>> */


.primary-header {
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 2em 1em;
}

.site-logo {
    margin: 1em clamp(1.5rem, 5vw, 3.5rem);
}

.site-logo img {
    width: 120px;
    margin: 0 auto;
    margin-bottom: .5rem;
}

.site-logo span {
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 1px solid ;
    color: #c7c623;
    border-bottom: 1px solid #c7c623;
}

.navigation-bar {
   justify-content: space-between;
   align-items: center;
   padding: 0;
   margin: 0;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(4rem, 5vw, 8rem);
    --underline-gap: .5rem;
    justify-content: space-between;
    list-style: none;
    margin-right: clamp(3rem, 5vw, 7rem);

    padding-inline: clamp(3rem, 4vw, 7rem);
    background-color: hsl(var(--clr-dark)/.95);
} 

.primary-navigation li a {
    font-weight: 600;
    text-decoration: none;
}

.mobile-nav-toggle {
    display: none;
}

.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    cursor: pointer;
    transition: border-bottom 350ms ease-in-out;
}


.underline-indicators > *:hover,
.underline-indicators > *:focus {
   border-bottom: .2rem solid hsl(var(--clr-secondary) / .45);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected = "true"] {
    color: hsl(var(--clr-light));
    border-bottom: .2rem solid hsl(var(--clr-secondary) / .95);
}


/* call us icon */
.nav-call-us {
    align-items: center;
    background: linear-gradient(180deg, rgb(193, 193, 117), darkgreen);
    border-radius: 25px;
    gap: 0;

    position: fixed;
    bottom: 10%;
    right: 0;
    z-index: 2000;
    opacity: .8;
    transform: translateX(80%);
    cursor: pointer;
    max-width: 350px;
    transition: all 650ms ease-in-out;
}

.nav-call-us:hover,
.nav-call-us:focus {
    opacity: 1;
    transform: translateX(0);
}

.call-us-icon {
    width: 25px;
    height: 25px;
}

.phone-number {
    font-size: medium;
    font-weight: 400;
    padding: 0 5px; 
    transition: all 350ms ease-in-out;
}




/* --- SLOGAN Js HIDE ---*/
.slogan {
    margin: 1em 0;
}




/* ######## media queries ######## */



/* ===== MOBILE ===== */
@media (max-width: 48em) {

    .nav-container {
        padding: 0 1em;
        margin-bottom: 2em;
    }

    /* <--- Site Logo ---> */
    .site-logo {
        margin: 0;
    }

    .site-logo img {
        width: 50px;
        margin-bottom: .2rem;
        line-height: 1;
    }

    .site-logo span {
        font-size: .80rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

    


    /* <--- Navigation Menu ---> */
    .primary-navigation {
        --gap: clamp(3.5rem,6vh,5.5rem);
        --underline-gap: 0;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        z-index: 1000;
        margin: 0;
        padding: min(10rem, 15vh) 2rem;
        max-height: 500px;
        height: 80%;
        transform: translateX(100%);
        overflow-x: hidden;
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        border: 0;
        z-index: 2000;
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        background-image: url(./icons/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        padding: 1rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./icons/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 2px solid hsl(var(--clr-white));
        outline-offset: 2px;
    }


    /* <--- Call Us Part ---> */
    .nav-call-us {
        transform: translateX(0);
    }

    /* <--- Slogan ---> */
    .slogan {
        letter-spacing: 2px;
    }

}

/* ==== TABLETS ==== */
 @media (min-width: 48em) and (max-width: 64em)  {
    .nav-container {
        padding: 1em 0;
    }

    .primary-navigation {
        --gap: clamp(1.5rem,5vh,3.5rem);
        padding-inline: clamp(.5rem, 3vw, 2rem);
    }
 }

/* <<================== END OF NAV & SET UPS ================>> */




/* ============= FRUITS & VEGIES SECTION STARTS ============= */

.large-padding {
    padding: 3em 0;
}

.veg-box,
.fruits-box {
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    border-bottom: 2px solid hsl(var(--clr-accent) / .25);
}

.veg-box div h1, p,
.fruits-box div h2,p {
    margin-bottom: 1em;
}

.veg-img {
    margin: 0 auto;
    width: 320px;
    padding: 0 1em;
    
}

.fruits-img {
    width: 21.875rem;
}


/* ----- GREEN BTNS ------- */
.green-btn {
    --flow-space: 2rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: .65em .85em;
    transition: all 350ms ease-in-out;
}
 
.green-btn:hover {
    border: 1.5px solid hsl(var(--clr-dark));
    background: transparent;
    color: hsl(var(--clr-dark));
}


@media (max-width: 48em) {
    .green-btn {
        --flow-space: 1.5rem;
        font-size: .825rem;
        padding: .5em .85em;
        border-radius: 1rem;
    }
}

@media (min-width: 48em) {
    .veg-box,
    .fruits-box {
        flex-direction: row;
        justify-content: space-between;
        /* padding-inline: 3.5rem; */
    }

    .veg-img {
        width: 500px;
    }
    
    .veg-box div:first-child,
    .fruits-box div:first-child {
        --flex-gap: 5%;
        gap: var(--flex-gap);
        width: 50%;
    }

    .veg-box div:first-child {
        order: 2;
    }

    .veg-box div:last-child {
        order: 1;
    }

}

/* <<================ FRUITS & VEGIES SECTION ENDS =================>> */






/* <<=================== PRODUCTS SECTION STARTS ==================>> */


.card {
    width: max(19.5rem);
    height: fit-content;
    border-radius: 35px;
    border: 2px solid hsl(var(--clr-dark));
    cursor: pointer;
    overflow-x: hidden;
    transition: border 350ms ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    gap: 0;
}

.card:hover {
    border: 0;
}

.card-container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-box_card {
    position: relative;
    padding: 1em 0;
    border-radius: 25px 25px 0;
    background: hsl(var(--clr-dark));
}

.card-image {
    height: max(250px);
    width: max(250px);
    margin: 0 auto;
    border-radius: 50%;
}

.card-image img {
    height: 100%;
    border-radius: 50%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: hsl(var(--clr-dark));
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: hsl(var(--clr-light));
}

.card-body {
    padding: 0 1rem;
    margin-bottom: 1rem;
}


/* <-------- media-scroller --------> */
.media-scroller {
    padding: 2em 0;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
/* <<====================== PRODUCTS ENDS =====================>> */





/* <<===================== TEAM SECTION STARTS =====================>> */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.team-member {
    width: 80%;
    width: max(300px);
    padding: 2rem 0;
    border-radius: 5px;
    cursor: pointer;
    background: #D8ECD4;
    transition: background 450ms ease-in-out;
    position: relative;
}

.team-member:hover {
    background: transparent;
    border: 1px solid #876341;
}


.team-member:hover .team-member_info > * {
    color: hsl(var(--clr-accent));
}

.team-member_image {
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.team-member_image > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.team-member_socials a > img {
    width: 25px;
}


.team-member_info * {
    margin-top: 1.4rem;
    color: hsl(var(--clr-accent));
    position: relative;
}

.status {
    display: grid;
    place-content: center;
    padding-bottom: .5em;
    font-weight: 100;
}

.status::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 2rem;
    opacity: .3;
    margin: 0 auto;
    background: hsl(var(--clr-accent));
}


.team-member_socials {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    flex-direction: column;
    justify-content: space-between;
    padding: 1em .25em;
    background: #D8ECD4;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
}

.team-member_socials > a {
    display: block;
    border-radius: 50%;
    border: 2px solid hsl(var(--clr-dark));
    transition: border-color 350ms ease-in-out;
}

.team-member_socials > a:hover {
    border-color: hsl(120, 33%, 14%, .85);
}


.team-member:hover .team-member_socials {
    opacity: 1;
}


@media (min-width: 48em) {

    .team-container {
        gap: 8em;
    }
    .team-member_image {
        width: 230px;
        height: 230px;
    }

    .team-member {
        width: max(345px);
    }

    .team-member_socials {
        opacity: 0;
        transition: opacity 350ms ease-in-out;
    }

    .team-member:hover .team-member_socials {
        opacity: 1;
    }
}
/* <<========================= TEAM SECTION ENDS =========================>> */




/* <<========================= FOOTER STARTS ==============================>> */
footer h1, h2 {
    opacity: .75;
    color: hsl(27, 46%, 61%);
}

footer p, a {
    opacity: .75;
}

.mission {
    padding: 0 2rem;
}

footer h1 {
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid hsl(var(--clr-light) / .25);
}


.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 2rem;
    
    margin: 2rem 0;
}

.contacts-body {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.contacts-body a {
    --fs-a: 1rem;
    font-size: var(--fs-a);
    flex-direction: column;
    font-weight: 500;
    align-items: center;
    gap: 0;
    transition: all 350ms ease-in-out;
}

.contacts-body a:hover {
    text-decoration: underline;
    opacity: 1;
}

.contacts-body a {
    align-items: center;
    gap: 0;
}

.contacts-body a span{
    cursor: pointer;
    border-radius: 1rem;
    border: 8px solid hsl(120, 33%, 14%, .15);
    transition: border-color 350ms ease-in-out;
}

.contacts-body p span:hover {
    border-color: hsl(120, 33%, 14%, .85);
}

footer ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

footer ul li{
    border-radius: 50%;
    border: 8px solid hsl(120, 33%, 14%, .25);
    transition: border-color 350ms ease-in-out;
}

footer ul li:hover {
    border-color: hsl(120, 33%, 14%, .85);
}

small {
    padding: 1rem 0;
    color: hsl(27, 46%, 61%);
    border-top: 1.5px solid hsl(var(--clr-light) / .25);
 }

@media (min-width: 35em) {
    .contacts-body {
        flex-direction: row;
        gap: 2rem;
    }
}

 @media (min-width: 60em) {
    .footer-container {
        grid-template-columns: repeat(2,minmax(25rem, 1fr));
        grid-template-rows: 10rem;
        gap: clamp(2rem, 3vw, 5rem);
    }

    .contacts-body a {
        flex-direction: column;
    }
}

/* <<========================= FOOTER ENDS ==============================>> */








